#group {
    height: 100vh
}

#group-panel {
    width: 14rem;
    background: #222222;
    color: white;
}

#group-heading {
    border-bottom: 1px solid;
    border-color: #515151;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#channel-list {
    padding: 0.5rem;
}

.channel {
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

.channel:hover {
    background-color: rgb(60, 60, 60);
}

.channel-active {
    background-color: rgb(90, 90, 90) !important;
}

.channel-text {
    color: white;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.channel-options {
    display: none;
    flex-direction: row;
}

.channel:hover .channel-options {
    display: flex;
}