<div id="group" class="d-flex">
    <!-- Channel List -->
    <div id="group-panel">
        <div id="group-heading" class="d-flex justify-content-between">
            <div class="d-flex align-items-center"><b>{{group?.name}}</b></div>
            <button *ngIf="canEditGroup" class="btn text-white p-0" (click)="updateGroup()"><i class="bi-gear-fill"></i></button>
        </div>
        <div id="channel-list">
            <div *ngFor="let channel of channels" class="btn-group channel" [ngClass]="{'channel-active': channel._id == activeChannelId}">
                <button type="button" class="btn channel-text" (click)="navigateToChannel(channel._id)">{{channel.name}}</button>
                <div *ngIf="canEditChannel" class="channel-options">
                    <button type="button" class="btn text-white" (click)="updateChannel(channel._id)"><i class="bi-gear-fill"></i></button>
                </div>
            </div>
            <div *ngIf="canEditChannel" class="btn channel d-block text-white" (click)="open(addChannelModal)"><i class="bi-plus"></i></div>
        </div>
        <div>
            <img class="rounded-circle" src="{{userService.imageUrl}}" width="25px" height="25px" (click)="open(avatarModal)">
            {{userService.name}}
        </div>
    </div>

    <!-- Channel -->
    <div class="flex-fill">
        <router-outlet></router-outlet>
    </div>
</div>

<ng-template #addChannelModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Create Channel</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form>
            <label for="channelNameInput" class="form-label">Channel Name</label>
            <input id="channelNameInput" class="form-control" type="text" [(ngModel)]="channelNameInput" name="channelNameInput" placeholder="New Channel">
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-link" (click)="modal.close()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="createChannel(); modal.close()">Create Channel</button>
    </div>
</ng-template>

<ng-template #editChannelModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Edit Channel</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label for="channelNameInput" class="form-label">Channel Name</label>
            <input id="channelNameInput" class="form-control" type="text" [(ngModel)]="channelModel.name" name="channelNameInput" placeholder="Channel Name">
        </div>

        <div class="mb-3">
            <label class="form-label">Members</label>
            <div *ngFor="let member of channelMembers" class="mb-2">
                {{member.name}}
                <button class="btn btn-danger" (click)="removeChannelMember(member._id)"><i class="bi bi-person-dash-fill"></i></button>
            </div>
        </div>

        <div class="mb-3">
            <label for="memberNameInput" class="form-label">Add Member</label>
            <div *ngFor="let member of availableChannelMembers" class="mb-2">
                {{member.name}}
                <button class="btn btn-primary" (click)="addChannelMember(member._id)"><i class="bi bi-person-plus-fill"></i></button>
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteChannel(); modal.close()">Delete Channel</button>
        <button type="button" class="btn btn-link" (click)="modal.close()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveChannel(); modal.close()">Save</button>
    </div>
</ng-template>

<ng-template #editGroupModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Edit Group</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label for="groupNameInput" class="form-label">Group Name</label>
            <input id="groupNameInput" class="form-control" type="text" [(ngModel)]="groupModel.name" name="groupNameInput" placeholder="Group Name">
        </div>

        <div class="mb-3">
            <label class="form-label">Members</label>
            <div *ngFor="let member of groupMembers" class="mb-2">
                {{member.name}}
                <button class="btn btn-primary me-2" (click)="addGroupAssistant(member._id)"><i class="bi bi-shield-fill-plus"></i></button>
                <button class="btn btn-danger" (click)="removeGroupMember(member._id)"><i class="bi bi-person-dash-fill"></i></button>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Assistants</label>
            <div *ngFor="let member of groupAssistants">
                {{member.name}}
                <button class="btn btn-danger" (click)="removeGroupAssistant(member._id)"><i class="bi bi-shield-fill-minus"></i></button>
            </div>
        </div>

        <div class="mb-3">
            <label for="memberNameInput" class="form-label">Add Member</label>
            <div class="row g-2">
                <div class="col-auto">
                    <input #memberNameInput id="memberNameInput" class="form-control" type="email" name="memberNameInput" placeholder="email">
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" (click)="addGroupMember(memberNameInput.value)">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteGroup(); modal.close()">Delete Group</button>
        <button type="button" class="btn btn-link" (click)="modal.close()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveGroup(); modal.close()">Save</button>
    </div>
</ng-template>

<ng-template #avatarModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Avatar</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <img class="rounded-circle" src="{{userService.imageUrl}}" width="50px" height="50px">

        <form>
            <div class="mb-3">
                <label for="groupNameInput" class="form-label">Avatar Upload</label>
                <input type="file" class="form-control" (change)="onFileSelected($event)" name="avatarUpload" id="avatarUpload"/>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-link" (click)="modal.close()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="uploadAvatar(); modal.close()">Upload</button>
    </div>
</ng-template>