<div class="row min-vh-100">
    <div class="col-md-2" style="background-color: #2B2B2B;">
        <h6 class="text-white py-3 border-bottom border-light">{{group?.name}}</h6>
        <channel-list [channels]="group?.channels" (navigateToChannelEvent)="navigateToChannel($event)"></channel-list>
    </div>
    <div class="col-md-10 d-flex flex-column" style="background-color: #3B3B3B;">
        <div class="flex-fill d-flex">
            <div class="flex-fill">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>