<div class="row">
    <button type="button" class="btn btn-primary" (click)="open(addGroupModal)">Create Group</button>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let group of groups">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{group.name}}</h5>
                <p class="card-text">Group description</p>
                <button type="button" class="btn btn-primary" (click)="joinGroup(group._id)">Join</button>
            </div>
        </div>
    </div>
</div>

<ng-template #addGroupModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Create Group</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form>
            <label for="groupNameInput" class="form-label">Group Name</label>
            <input id="groupNameInput" class="form-control" type="text" [(ngModel)]="groupNameInput" name="groupNameInput" placeholder="New Group">
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-link" (click)="modal.close()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="createGroup(); modal.close()">Create Group</button>
    </div>
</ng-template>