<div id="channel" class="d-flex flex-column">
    <div id="channel-heading">
        <h6 class="m-3"><i class="bi bi-chat-left-dots-fill me-2"></i> {{channel?.name}}</h6>
    </div>
    <div id="channel-body" class="d-flex flex-fill">
        <!-- Chat Window-->
        <div class="d-flex flex-column flex-fill mx-3">
            <!-- Chat Log -->
            <div class="flex-grow-1">
                <ul class="list-unstyled text-white">
                    <li *ngFor="let message of messages">{{message.name}}: {{message.message}}</li>
                </ul>
            </div>
            
            <!-- Message Box -->
            <div class="py-3">
                <form class="d-flex">
                    <div class="flex-fill me-2">
                        <input id="message-box" class="form-control" id="message-box" type="text" name="message" autocomplete="off" [(ngModel)]="curMessage"/>
                    </div>
                    <div>
                        <button class="btn btn-secondary border-0" (click)="sendMessage()">Send</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="member-list">
            <!-- Member List -->
            <p><b>Online - {{members?.onlineMembers.length}}</b></p>
            <ul class="list-unstyled">
                <li *ngFor="let member of members?.onlineMembers">{{member}}</li>
            </ul>
        </div>
    </div>
</div>




