<div id="channel" class="d-flex flex-column">
    <div id="channel-heading">
        <h6 class="m-3"><i class="bi bi-chat-left-dots-fill me-2"></i> {{channel?.name}}</h6>
    </div>
    <div id="channel-body" class="d-flex flex-fill">
        <!-- Chat Window-->
        <div class="d-flex flex-column flex-fill mx-3">
            <!-- Chat Log -->
            <div class="flex-grow-1">
                <ul class="list-unstyled text-white">
                    <li *ngFor="let message of messages; let i = index;" class="mb-1">
                        <div *ngIf="message.userId != messages[i - 1]?.userId; else elseBlock">
                            <img class="rounded-circle" src='http://localhost:3000/avatar/{{message.imageUrl}}' width="25px" height="25px">
                            {{message.name}}: {{message.message}}
                        </div>
                        <ng-template #elseBlock>
                            {{message.message}}
                        </ng-template>
                        <img class="attachment" *ngFor="let attachmentUrl of message.attachments" src="http://localhost:3000/attachment/{{attachmentUrl}}" />
                    </li>
                </ul>
            </div>
            
            <!-- Message Box -->
            <div class="py-3">
                <form class="d-flex">
                    <div class="input-group flex-fill me-2">
                        <input id="message-box" class="form-control" id="message-box" type="text" name="message" autocomplete="off" [(ngModel)]="curMessage"/>
                        <span class="input-group-text rounded-end" (click)="file.click()"><i class="bi bi-file-earmark-plus-fill"></i><span *ngIf="selectedFile != null">&nbsp;Attached</span></span>
                        <input #file id="attachmentUpload" name="attachmentUpload" type="file" class="form-control d-none" (change)="onFileSelected($event)" accept="image/*"/>
                    </div>
                    <div>
                        <button class="btn btn-secondary border-0" (click)="sendMessage()">Send</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="member-list">
            <!-- Member List -->
            <p><b>Online - {{onlineMembers?.length}}</b></p>
            <ul class="list-unstyled">
                <li *ngFor="let member of onlineMembers">
                    <img class="rounded-circle" src='http://localhost:3000/avatar/{{member.imageUrl}}' width="25px" height="25px">
                    {{member.name}}
                </li>
            </ul>
        </div>
    </div>
</div>




