<div class="overflow-hidden">
    <div class="row min-vh-100">
        <!-- Group List -->
        <div class="col-md-1" style="background-color: #1B1B1B;">
            <div class="mx-auto" style="width: 50px">
                <ul class="nav nav-pills nav-fill flex-column">
                    <li *ngFor="let group of groups" class="nav-item">
                        <a class="nav-link" (click)="navigateToGroup(group._id)">{{group.name}}</a>
                    </li>
                </ul>
                <button class="btn btn-outline-info group-btn" (click)="groupHub()">Hub</button>
                <button *ngIf="userService.role! < 2" class="btn btn-outline-info group-btn" (click)="controlPanel()">Control Panel</button>
                <button class="btn btn-danger group-btn" (click)="logout()">Logout</button>
            </div>
        </div>
        <!-- Group -->
        <div class="col-md-11">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>