<div class="home d-flex">
    <!-- Group List -->
    <div class="group-list d-flex align-items-start flex-column">
        <div id="groups" class="d-flex flex-column mx-auto mb-auto m-2">
            <button *ngFor="let group of groups" class="btn group-btn" (click)="navigateToGroup(group._id)">{{group.name}}</button>
            <button id="createGroup" *ngIf="userService.role! < 2" class="btn group-btn bg-success rounded-circle" (click)="openAddGroupModal()"><i class="bi bi-plus fs-2"></i></button>
        </div>
        <div id="other" class="d-flex flex-column mx-auto m-2">
            <button id="controlPanel" *ngIf="userService.role! < 2" class="btn text-white" (click)="controlPanel()"><i class="bi bi-wrench fs-4"></i></button>
            <button id="logout" class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
    </div>
    <!-- Group -->
    <div class="flex-fill overflow-hidden">
        <router-outlet></router-outlet>
    </div>
</div>

<ng-template #addGroupModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Create Group</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form>
            <label for="groupNameInput" class="form-label">Group Name</label>
            <input #groupNameInput id="groupNameInput" class="form-control" type="text" name="groupNameInput" placeholder="New Group">
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-link" (click)="modal.close()">Cancel</button>
        <button id="createGroupBtn" type="button" class="btn btn-primary" (click)="createGroup(groupNameInput.value); modal.close()">Create Group</button>
    </div>
</ng-template>